@{
    ViewBag.Title = "Index";
}
@model List<IISSiteEntity>

<h2 style="text-align: center;">IIS 网站管理</h2>

<div class="table-responsive">
<table  class="table  table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>物理路径</th>
            <th>应用程序池</th>
            <th>地址</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.Name</td>
                <td>@m.PhysicalPath</td>
                <td>@m.Pool</td>
                <td>
                    @foreach (var u in m.List_url)
                    {
                        @(u)<br/>
                    }
                </td>
                <td>@m.State</td>
                <td>
                    <input type="button" class="btn btn-primary" value="回收" onclick=" recycile('@(m.Pool)') " />
                    <input type="button" class="btn btn-secondary" value="关闭" onclick=" stop('@(m.Name)') " />
                    <input type="button" class="btn btn-danger" value="删除" onclick=" del('@(m.Name)') " />
                </td>
            </tr>
        }        
    </tbody>
    @ViewBag.s

</table>
</div>

@section Foot{
    <script>
        $(function() {

        })

        function recycile(name) {
            $.ajax({
                type: "POST",
                url: "/Default/Recycile",
                data: "PoolName=" + name,
                success: function(msg) {
                    if (msg == "1") {
                        location = location;
                    } else {
                        alert(msg);
                    }
                }
            });
        }

        function del(name) {
            $.ajax({
                type: "POST",
                url: "/Default/DelSite",
                data: "SiteName=" + name,
                success: function(msg) {
                    if (msg == "1") {
                        location = location;
                    } else {
                        alert(msg);
                    }
                }
            });
        }

        function stop(name) {
            $.ajax({
                type: "POST",
                url: "/Default/ChangeState",
                data: "SiteName=" + name,
                success: function(msg) {
                    if (msg == "1") {
                        location = location;
                    } else {
                        alert(msg);
                    }
                }
            });
        }

    </script>
}